html,
body {
  background-color: #e0dede;
  height: 100%;
  margin: 0px;
  min-height: 100%;
  overflow-x: hidden;
}

.bg {
  margin: 0 auto;
}

.error-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.error-line {
  font-size: 3vh;
  text-align: center;
}

.red-error {
  font-weight: bolder;
  color: red;
}
