* {
  padding: 0;
  margin: 0;
}
.header {
  background-color: #a7acb6;
  height: 120px;
  min-width: 1500px;
}

.bg {
  min-height: 100vh;
  background-color: #ededed;
}

.centerheader {
  margin: 0 auto;
  padding-top: 10px;
  width: 1500px;
}

.logo {
  float: left;
  padding: 0;
  font-size: 72px;
  color: white;
  top: 3.5%;
}

.loginfield {
  float: right;
  height: 100px;
  width: 600px;
}
.input {
  display: inline;
  margin-right: 50px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.signin {
  background-color: #4267b2;
  height: 22px;
  color: white;
  border: 1px solid darkblue;
  border-radius: 2px;
}

.content {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.landing-center {
  width: 1500px;
  position: relative;
  padding: 20px 0;
  margin: 0 auto;
}

.left {
  text-align: left;
  width: 700px;
}
.right {
  text-align: left;
  width: 400px;
  position: absolute;
  top: 16%;
  left: 56%;
}

.descimg {
  margin-left: 50px;
  vertical-align: middle;
  display: inline-block;
  width: 10%;
}

.oneliner {
  text-align: left;
  width: 450px;
  color: rgb(14, 56, 95);
  font-size: 60px;
  font-weight: 800;
  line-height: 73px;
  word-spacing: 1;
  display: block;
}

.description {
  height: 80px;
  font-size: 30px;
  text-align: left;
  margin-top: 10px;
  padding-bottom: 10px;
}

.form {
  margin-top: 20px;
  width: 25ch;
}
